{% extends "bootstrap/base.html" %}

{% block head %}
    {{super()}}
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block title %}
    LoanDog
{% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse navbar-static-top" role="navigation" style="background-color: #133264;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                    <strong>
                        <a href="/">
                            <span style="color:#FFF700;">ON</span><span style="color:#FFFFFF;">bank</span>
                        </a>
                    </strong>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="container">

        {% block page_content %}
        {% endblock %}

        {% if error %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Error:</strong> {{ error }}
        </div>
        {% endif %}

        {% for message in get_flashed_messages() %}
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
        {% endfor %}

    </div>
{% endblock %}
