{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

    <div class="jumbotron">

        <img class="card-img-top img-responsive" style="align-items:center;"
        src="{{ url_for('static', filename='img/logo.jpg') }}">

        <h3 class="lead"><strong>Lighting the way to Financial Inclusion</strong></h4>

        <hr class="my-4">

        <h4 class="lead">
            We just need a few details to get you started on your banking journey!
            We help with #BankingTheUnbanked
        </h4>

        <h4 class="lead">
            <a class="btn btn-primary btn-lg" href="info" role="button">Register!</a>
            <a class="btn btn-primary btn-lg" href="check" role="button">Check me out!</a>
        </h4>

    </div>

{% endblock %}
