{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

    <div class="form-group">
        <label for="forename">Name</label>
        <input id='forename' type='text' class="form-control" placeholder="Alan Greenspan" name='forename'
        value="David Azcona" autofocus></input>
    </div>

    <hr class="my-4">
    
    <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type='text' class="form-control" placeholder="alan@greenspan.com" name='email'
        value='david.azcona@asu.edu' autofocus></input>
    </div>

    <hr class="my-4">

    <div class="form-group">
        <label for="address">Address</label>
        <input id="email" type='text' class="form-control" placeholder="Your address if any" name='address'
        value='' autofocus></input>
    </div>

    <hr class="my-4">

    <div class="form-group">
        <label for="doc">Documentation</label>
        <input id="capture" type="file" name="capture" accept=".pdf">
    </div>

    <a class="btn btn-primary btn-lg" href="picture" role="button">Next</a>

{% endblock %}
