{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

    <div id="namediv" class="form-group">
        <label for="forename">Name</label>
        <input id='forename' type='text' class="form-control" placeholder="Alan Greenspan" name='forename'
        value="Alan Greenspan" autofocus></input>
    </div>
    
    <div id="emaildiv" class="form-group">
        <label for="email">Email</label>
        <input id="email" type='text' class="form-control" placeholder="alan@greenspan.com" name='email'
        value='alan@greenspan.com' autofocus></input>
    </div>

    <a class="btn btn-primary btn-lg" href="picture" role="button">Next</a>

{% endblock %}
