{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

    <div class="jumbotron">

        <div class="row">
            <img class="col-md-1" width="50px" height="50px" src="{{ url_for('static', filename='img/tick.png') }}">
            <h2>Congratulations {{ name }}!</h2>
        </div>

        <hr class="my-4">

        <h4 class="lead">
            Your account has been <strong>opened</strong>, how can we help you now? 
        </h4>

        <h4 class="lead">
            <ol> 
                <li> Show me how to use my ONbank account </li>
                <li> Help me understand what I spend my money on </li>
                <li> Help me spend less on my utility bills </li>
                <li> Help me save for the future </li>
                <li> Tell me more about the Government's 'Help to Save' scheme (earn 50p for every £1 I save) </li>
            </ol>
        </h4>

        <a class="btn btn-primary btn-lg" href="map" role="button">Check out the nearby branches and ATMs!</a>

    </div>

{% endblock %}
